.flag-icon {
  border: none;
  border-radius: .20rem;
}

.flag-icon.LIVE {

}

.em-hp-live__score.PRE-MATCH {
  display: none;
}

.em-hp-live__score {
  color: rgb(49, 49, 49);
  font-family: TabletGothic, 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;
  font-size:2em;
  font-weight: 700;
  letter-spacing: .05em;
  line-height:2em;
  text-decoration: none;
}


.flag-icon.FULL {
  padding: 0;
  background-position: 0;
  position: relative;
  display: inline-block;
  width: 4em;
  line-height: 3em;
}

.LIVE {
  color: red;
}

.PRE-MATCH {
  color: green;
}

.em-hp-live__container {

}

.em-hp-live__section {

}

.em-hp-live__module-headline {

}

.em-hp-live__module-more-link, 
.em-hp-live__module-more-link:visited,
.em-hp-live__module-more-link > a{

}


/*@media screen and (min-width:32.5em){
  .em-hp-live__container {
    width: 100%;
  }

  .em-hp-live__section {
    width: 33%;
    display: inline-block;
    position: relative;
  }
}

@media screen and (min-width:48em){
  
  .em-hp-live__container {
    width: 100%;
  }
  .em-hp-live__section {
    width: 33%;
    display: inline-block;
    position: relative;
  }
}

@media screen and (min-width:61.25em){
  .em-hp-live__container {
    width: 100%;
  }
  .em-hp-live__section {
    width: 33%;
    display: inline-block;
  }
}*/