<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="http://52.58.6.8:3000/css/em-module.css">
  <link rel="stylesheet" type="text/css" href="http://52.58.6.8:3000/css/flag-icon-min.css">
</head>
<body>

  <div id="em-ticker" class="em-hp-live__container">
    <div class="em-hp-live__module-header">
      <h3 class="em-hp-live__module-headline">
        UEFA EURO 2016 - Runde 
      </h3>
      <span class="em-hp-live__module-more-link">
        <a href="{{moreLink}}">mehr ▸</a>
      </span>
    </div>
    <span id="round"></span>
    <div class="em-hp-live__section {{games[0].status}}">
      <span class="flag-icon {{games[0].teamHome.flag}}"></span>
      <span>{{games[0].teamHome.teamName}}</span>
      <span>
      ( {{games[0].teamHome.score.total}} : {{games[0].teamAway.score.total}} )
      </span>
      <span>{{games[0].teamAway.teamName}}</span>
      <span class="flag-icon {{games[0].teamAway.flag}}"></span>
      <span class="em-hp-live__module-status">{{games[0].status}}</span>
    </div>
    <div>{{updated}}</div>
  </div>

  <script type="text/javascript" src="http://52.58.6.8:3000/js/em-hp-module.js"></script>
</body>
</html>