<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/em-module.css">
</head>
<body>

  <div id="em-ticker" class="em-hp-live__container">
    <div class="em-hp-live__module-header">
      <h3 class="em-hp-live__module-headline">
        UEFA EURO 2016 - Runde 
      </h3>
      <span class="em-hp-live__module-timestamp">
        <a href="{{link}}">mehr ▸</a>
      </span>
    </div>
    <span id="round"></span>
    <div class="em-hp-live__section {{games[0].status}}">
      <span>{{games[0].teamHome.teamName}} gegen {{games[0].teamAway.teamName}}</span>
    </div>
    <div class="em-hp-live__section {{games[1].status}}">
      <span>{{games[1].teamHome.teamName}} gegen {{games[1].teamAway.teamName}}</span>
    </div>
    <div class="em-hp-live__section {{games[2].status}}">
      <span>{{games[2].teamHome.teamName}} gegen {{games[2].teamAway.teamName}}</span>
    </div>
  </div>

  <script type="text/javascript" src="../js/em-hp-module.js"></script>
</body>
</html>