<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>EM Test</title>
        <meta name="viewport" content="width=device-width">
        <link href="http://www.zeit.de/static/2.54.1/css/web.site/screen.css" media="screen" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/flag-icon-min.css">
        <!-- <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/em-module.css"> -->
        <link rel="stylesheet" type="text/css" href="http://live0.zeit.de/sport-ticker/css/em-module.css">

    </head>
    <body class="dev">
        <section class="page__content">

          <div class="cp-region cp-region--ticker">        
            <div id="em-ticker" class="cp-area cp-area--ticker">
              <div class="section-heading section-heading--unpadded section-heading--ticker">
                <a href="{{moreLink}}" class="section-heading__title">
                  UEFA EURO 2016
                </a>
                <a href="{{moreLink}}" class="section-heading__link section-heading__link--unpadded section-heading__link--ticker">
                  <span class="section-heading__text">mehr</span>
                </a>
              </div>
                <div class="sport-ticker--container">
                  
                  <article class="teaser-ticker" data-type="teaser">
                    <a href="{{liveLink}}">
                      <!-- Team left: -->
                      <div class="em-hp-live__team-left {{games[0].statusClass}}">
                        <span class="flag-icon {{games[0].statusClass}} {{games[0].teamHome.flag}}"></span>
                        <span class="em-hp-live__team-name {{games[0].statusClass}}" >{{games[0].teamHome.countrycode}}</span>
                      </div>
                      
                      <!-- Score -->
                      <span class="em-hp-live__score {{games[0].statusClass}}">
                      {{games[0].teamHome.score.total}} : {{games[0].teamAway.score.total}}
                      </span>
                      
                      <!-- Team right -->
                      <div class="em-hp-live__team-right {{games[0].statusClass}}">
                        <span class="flag-icon {{games[0].statusClass}} {{games[0].teamAway.flag}}"></span>
                        <span class="em-hp-live__team-name {{games[0].statusClass}}">{{games[0].teamAway.countrycode}}</span>
                      </div>

                      <!-- Time / Status / Final-Score -->
                      <span class="em-hp-live__module-status {{games[0].statusClass}}">{{games[0].statusText}}</span>
                    </a>
                  </article>                       

                </div>

            </div>
          </div>
<!--           <script type="text/javascript">var dataURL = "http://localhost:3000/testJson.json"</script> -->
          <script type="text/javascript" src="http://localhost:3000/js/em-hp-module.js"></script>

        </section>
    </body>
</html>